.detalhes__imagem {
    display: block;
    max-width: 360px;
    width: 100%;
    margin: auto;
}
.detalhes__container {
    padding: 1rem 0;
}
.detalhes__nome, .detalhes__preco{
    margin-bottom: 1rem;
}
.detalhes__nome {
    font-size: 1.375rem;
    font-weight: 500;
}
.detalhes__preco {
    font-size: 1rem;
    font-weight: 700;
}

/*Produtos*/
.produtos-similiares__titulo {
    margin-bottom: 1rem;
}
.produtos__categoria{
    align-items: center;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 1rem;
}
.categoria__ver-tudo {
    align-items: center;
    color: #2A7AE4;
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}
.categoria__ver-tudo::after {
    content: url(./../img/icones/seta-direita.svg);
    padding-left: 0.2rem
}
.produtos__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.produto__imagem {
    width: calc((100vw - 3rem)/2);  
}
.produto__informacoes {
    line-height: 1.375rem;
}
.produto__nome{
    font-size: 0.875rem;
    font-weight: 500;
}
.produto__preco {
    font-weight: 700;
}
.produto__link {
    color: #2A7AE4;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}



@media screen and (min-width: 768px) {
    .cabecalho__container {
        justify-content: flex-start;
    }
    
    .detalhes {
        display: flex;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: space-between;
    }
    .detalhes__container {
        margin-left: 1rem;
        padding: 0;
    }

    /*Produtos*/
    .produtos__lista{
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: space-between;
    }
    .produto__imagem {
        width: 100%;
    }
    .categoria__ver-tudo {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .detalhes__container {
        margin-left: 1rem;
        width: 70vw;
    }

    .detalhes__nome {
        font-size: 3.25rem;
    }
    .detalhes__imagem {
        width: 20vw;
    }
    /*Produtos*/
    .produtos__lista{
        gap: 1rem;
        justify-content: space-between;
    }
    .produto__imagem {
        width: 100%
    }
    .categoria__ver-tudo {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .detalhes__descricao {
        font-size: 1.2rem;
    }
}