/*Cabeçalho*/
.cabecalho__container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    max-width: 1130px;
    margin: 0 auto;
    
    padding: 1rem;
}
.cabecalho__botao-login {
    flex: 0 1 133px;
    margin: 0 1rem;
    text-align: center;
}
.pesquisa__input {
    display: none;
    outline: none;
}

/*Footer*/
.rodape{
    background: #EAF2FD;
}
.rodape__sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape__imagem{
    width: 50vw;
}
.contato__titulo{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.rodape__lista{
    text-align: center;
    line-height: 2rem;
}
.lista__item {
    font-weight: 500;
}

.formulario__nome, .formulario__mensagem{
    border: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.2rem 0;
    width: 100%;
    padding: 1rem;
}

.formulario__erro {
    color: #FF0000;
    display: block;
    padding: 0.5rem 0;
}

.formulario__submit-habilitado {
    background-color: #2A7AE4;
    color: #ffffff;
    margin-top: 0.5rem;
    
}

.formulario__submit-desabilitado {
    border: 0px;
    background-color: #2a7be44f;
    color: #ffffff;
    margin-top: 0.5rem;
    cursor: default;
}


/*Desenvolvedor*/
.rodape__desenvolvedor {
    background-color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    padding: 1rem;
}
.desenvolvedor__nome, .desenvolvedor__ano{
    font-weight: 600;
}
.desenvolvedor__nome {
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {  
    /*Cabeçalho*/
    .cabecalho__logo {
        margin-right: 1rem;
    }
    .cabecalho__botao-login {
        order: 1;
    }
    .cabecalho__pesquisa {
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        flex-grow: 0.3;
        background-color: #F5F5F5;
    }
    .pesquisa__input {
        display: block;
        font-family: 'Raleway', sans-serif;
        box-sizing: content-box;
        border: none;
        padding: 1rem;
        border-radius: 20px;
        width: 100%;
        background-color: #F5F5F5;
        font-weight: 400;
    }
    .pesquisa__icone {
        padding: 0 1rem 0 1rem;
    }

    /*Footer*/
    .rodape__container {
        display: flex;
        justify-content: space-between;
    }
    .rodape__sobre {
        align-items: center;
    }
    .rodape__imagem{
        width: -webkit-fill-available
    }
    .rodape__lista{
        text-align: start;
    }
    .formulario__input, .formulario__textarea{
        margin: 0.75rem 0;
        width: 60vw;
        padding: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    /*Footer*/
    .rodape {
        width: 100%;
        margin: 0 auto;
    }
    .rodape__sobre {    
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
    }
    .rodape__imagem{
        width: 176px;
    }
    .rodape__contato {
        width: 50%;
    }
    .formulario__input, .formulario__textarea{
        width: -webkit-fill-available;
    }
}