/*Cabeçalho*/
.cabecalho__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.cabecalho__botao-login {
    flex: 0 1 133px;
    margin: 0 1rem;
    text-align: center;
}

/*Footer*/
.rodape{
    background: #EAF2FD;
}
.rodape__sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape__imagem{
    width: 50vw;
}
.contato__titulo{
    font-size: 1rem;
}
.rodape__lista{
    text-align: center;
    line-height: 2rem;
}
.lista__item {
    font-weight: 500;
}

.formulario__input, .formulario__textarea{
    border: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.75rem 0;
    width: 100%;
    padding: 1rem;
}

/*Desenvolvedor*/
.rodape__desenvolvedor {
    background-color: #FFFFFF;
    text-align: center;
    font-weight: 500;
}
.desenvolvedor__nome, .desenvolvedor__ano{
    font-weight: 600;
}
.desenvolvedor__nome {
    padding-bottom: 1rem;
}