.produtos__botao--adicionar {
    display: inline-block;
    margin: 1rem 0;
}

/*Produtos*/
.produtos__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.produto__apresentacao {
    position: relative;
}
.produtos__item {
    width: calc((100vw - 3rem)/2);  
}
.produto__imagem {
    width: 100%;  
}
.produto__alterar {
    position: absolute;
    top: 8px;
    right: 8px;
}
.produto__alterar {
    display: flex;
    gap: 1rem;
}

.produto__informacoes {
    line-height: 1.375rem;
}
.produto__nome{
    font-size: 0.875rem;
    font-weight: 500;
}
.produto__preco {
    font-weight: 700;
}
.produto__link {
    color: #2A7AE4;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    /*Cabeçalho*/
    .cabecalho__container {
        justify-content: flex-start;
    }

    /*Produtos*/
    .produtos__lista{
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: space-between;
    }
    .produto__imagem {
        width: 100%
    }
    .categoria__ver-tudo {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    /*Produtos*/
    .produtos__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .produtos__lista{
        gap: 1rem;
        justify-content: space-between;
    }
    .produto__imagem {
        width: 100%;
    }
    .categoria__ver-tudo {
        font-size: 1rem;
    }
}