.novo-produto{
    background: #F5F5F5;
}

.formulario__botao-adicionar {
    font-weight: 400;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .novo-produto{
        margin: 0 auto;
        width: 50vw;
    }
}