/*Main*/
/*Banner*/
.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, 
    rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, 
    rgba(0, 0, 0, 0.8) 100%), url("./../img/banner-image.png") 50%/cover no-repeat;
    display: flex;
    height: 192px;
}
.banner__informacoes {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}
.banner__titulo {
    color: #FFFFFF;
    font-size: 1.375rem;
    margin-bottom: 1rem;
}
.banner__paragrafo {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/*Produtos*/
.produtos__categoria{
    align-items: center;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 1rem;
}
.categoria__ver-tudo {
    align-items: center;
    color: #2A7AE4;
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}
.categoria__ver-tudo::after {
    content: url(./../img/icones/seta-direita.svg);
    padding-left: 0.2rem
}
.produtos__lista{
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.produtos__item {
    width: calc((100vw - 3rem)/2);  
}
.produto__imagem {
    width: 100%;  
}
.produto__informacoes {
    line-height: 1.375rem;
}
.produto__nome{
    font-size: 0.875rem;
    font-weight: 500;
}
.produto__preco {
    font-weight: 700;
}
.produto__link {
    color: #2A7AE4;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    /*Banner*/
    .banner {
        height: 352px;
    }
    .banner__titulo {
        font-size: 3.25rem;
    }
    .banner__paragrafo {
        font-size: 1.375rem;
    }

    /*Produtos*/
    .produtos__lista{
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: space-between;
    }
    .produtos__item {
        width: 150px
    }
    .produto__imagem {
        width: 100%
    }
    .categoria__ver-tudo {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    /*Banner*/
    .banner {
        height: 392px;
    }

    /*Produtos*/
    .produtos__lista{
        gap: 1rem;
        justify-content: space-between;
    }
    .produto__imagem {
        width: 150px;
        height: 150px;
    }
    .categoria__ver-tudo {
        font-size: 1rem;
    }
}