/*Cabeçalho*/
.cabecalho__containcer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.cabecalho__botao-login {
    text-align: center;
    flex: 0 1 133px;
    margin: 0 1rem;
}

/*Main*/
/*Banner*/
.banner {
    position: relative;
}
.banner__imagem{
    width: 100vw;
}
.banner__informacoes {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    margin-left: 1rem;
    position: absolute;
    top: 40%;
}
.banner__titulo {
    color: #FFFFFF;
    font-size: 1.375rem;
}

.banner__paragrafo {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
}