/*Main*/
/*Banner*/
.banner {
    position: relative;
}
.banner__imagem{
    background-image: url(../img/banner-image.png);
    background-position: center;
    height: 192px;
    background-size: cover;
}
.banner__informacoes {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
    position: absolute;
    bottom: 10%;
}
.banner__titulo {
    color: #FFFFFF;
    font-size: 1.375rem;
    margin-bottom: 1rem;
}
.banner__paragrafo {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/*Produtos*/
.produtos__categoria{
    align-items: center;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 1rem;
}
.categoria__ver-tudo {
    align-items: center;
    color: #2A7AE4;
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}
.categoria__ver-tudo::after {
    content: url(./../img/icones/seta-direita.svg);
    padding-left: 0.2rem
}
.produtos__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.produto__imagem {
    width: calc((100vw - 3rem)/2);  
}
.produto__informacoes {
    line-height: 1.375rem;
}
.produto__nome{
    font-size: 0.875rem;
    font-weight: 500;
}
.produto__preco {
    font-weight: 700;
}
.produto__link {
    color: #2A7AE4;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    /*Banner*/
    .banner__imagem {
        height: 352px;
    }
    .banner__informacoes {
        margin-left: 2rem;
    }
    .banner__titulo {
        font-size: 3.25rem;
    }
    .banner__paragrafo {
        font-size: 1.375rem;
    }

    /*Produtos*/
    .produtos__lista{
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: space-between;
    }
    .produto__imagem {
        width: calc((100vw - 7rem)/4); 
    }
    .categoria__ver-tudo {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    /*Banner*/
    .banner__imagem {
        height: 392px;
    }
    .banner__informacoes {
        margin-left: 6rem;
    }

    /*Produtos*/
    .produtos__lista{
        gap: 1rem;
        justify-content: space-between;
    }
    .produto__imagem {
        width: calc((100vw - 15rem)/6); 
    }
    .categoria__ver-tudo {
        font-size: 1rem;
    }
}